In [1]:
from citipy import citipy
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import seaborn as sns
import numpy as np
import datetime 
today = datetime.datetime.today().strftime('%Y-%m-%d')

url = "http://api.openweathermap.org/data/2.5/weather?"
api_key = "c8a4b6c487e97bc9f1940df7758a0f72"
units = "imperial"

In [2]:
#Random list for lat/long
list_lat = np.random.uniform(-90,90, size = 1800)
list_long = np.random.uniform(-180,180, size = 1800)

list1_df = pd.DataFrame({"Lat": list_lat, "Lng": list_long})
list1_df.head()

         Lat         Lng
0  12.747708   66.782187
1  41.186777  102.768168
2 -64.945387 -118.165026
3  66.150189  -14.237187
4  21.375534   45.873414

In [6]:
city_list_1 = []
country_list_1 = []
for index, row in list1_df.iterrows():
    city=citipy.nearest_city(row["Lat"],row["Lng"])
    city_list_1.append(city.city_name)
    country_list_1.append(city.country_code)
list1_df["City"] = city_list_1
list1_df["Country"] = country_list_1

list1_df.head()

         Lat         Lng       City Country
0  12.747708   66.782187  kavaratti      in
1  41.186777  102.768168   jinchang      cn
2 -64.945387 -118.165026    rikitea      pf
3  66.150189  -14.237187       hofn      is
4  21.375534   45.873414     riyadh      sa

In [ ]:
list1_df["Cloudiness"] = ""
list1_df["Date"] = ""
list1_df["Humidity"] = ""
list1_df["Max Temp"] = ""
list1_df["Wind Speed"] = ""

counter = 0